<!-- topNav -->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <!-- 大表示左 -->
    <div class="navbar-brand d-none d-xxl-block">　<i class="bi bi-alarm"></i> NemLog Web</div>
    <!-- 小表示左 -->
    <div class="navbar-brand d-xxl-none" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasLeft">　<i class="bi bi-alarm"></i> NemLog Web</div>
    
    <!-- 小表示右 -->
    <div class="navbar-brand d-lg-none" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"><i class="bi bi-pencil-square"></i></div>
</nav>
<!-- topNav -->